.header {

    background: url(../Assets/about.jpg) no-repeat center;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;

    @include breakpoint(bigMobile) {
        background: url(../Assets/about_mobile.jpg) no-repeat center;
        height: 70vh;
    }


    &__top {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        z-index: 10;


    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__menu-text {
        padding-right: 20px;
        font-family: 'Brandon-regular';
        letter-spacing: 2px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20vh;

        @include breakpoint(bigMobile) {
            padding-top: 15vh;



        }



        h1 {
            font-size: 55px;
            color: white;

        }

        h2 {
            font-size: 14px;
            color: white;

        }
    }
}

.paragraph-about {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    @include breakpoint(phablet) {
        flex-direction: column;
        padding-bottom: 50px;

    }

    @include breakpoint(mobileonly) {
        padding-bottom: 0;
    }





    &__text {
        width: 50%;

        @include breakpoint(phablet) {

            width: 80%;
            justify-content: center;
            align-items: center;
            padding-left: 10%;
            padding-bottom: 30px;
        }

        @include breakpoint(bigTablet) {
            padding-left: 5%;
            margin-right: 5%;


        }
    }

    &__picture {
        display: flex;

        @include breakpoint(phablet) {
            width: 100%;
            justify-content: center;
        }




        &:after {
            content: "";
            position: absolute;
            background-image: url(../Assets/abut-wave.svg);
            width: 388px;
            height: 204px;
            bottom: 0;
            right: -10%;
            z-index: -10;
            overflow: hidden;

            @include breakpoint(phablet) {
                display: none;
            }
        }


    }

    &__copy {
        line-height: 40px;
        padding-top: 40px;
    }

    &__img {

        height: 500px;
        border: $light_color solid 60px;

        @include breakpoint(mobileonly) {
            border: none;
        }





    }

    &__title {
        font-size: 50px;
        padding-top: 40px;


        &:after {
            content: "HE";
            position: absolute;
            left: -8%;
            top: 10%;
            font-size: 200px;
            color: $light_color;
            z-index: -10;

            @include breakpoint(bigMobile) {
                left: 0%;
                top: 5%;
            }

        }

    }
}

.slider-container {
    position: relative;

    .slider {
        height: 100%;
    }



}

.slide {

    text-align: center;
    padding: 5px;


    & img {
        width: 100%;
        transform: translateX(-50%);
    }
}

.slider-wrapper {
    overflow: hidden;

    .tns-controls button {
        display: none;
        // text-indent: -9999rem;
        // border: none;
        // background-color: transparent;
        // background-image: url(./../Assets/arrow_r.svg);
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        // width: 3rem;
        // height: 3rem;
        // position: absolute;
        // top: 50%;
        // transform: translate(-50%, -50%);
        // transition: all 0.2s ease;
        // z-index: 10;

        // &:focus {
        //     outline: none;
        // }
    }
}

// .tns-controls button[data-controls=prev] {
//     left: 20%;

// }

// .tns-controls button[data-controls=next] {
//     right: 20%;

//     transform: translate(-50%, -50%) rotate(180deg);


// }

.brands-wrapper {

    background: url(../Assets/pink_bcg.jpg) no-repeat center;
    width: 100%;
    height: 544px;

    @include breakpoint(bigTablet) {
        height: 400px;
    }

    @include breakpoint(bigMobile) {
        height: 300px;


    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 544px;

        @include breakpoint(bigTablet) {
            justify-content: space-around;
            height: 400px;
        }

        @include breakpoint(bigMobile) {
            height: 300px;


        }

        @include breakpoint(mobileonly) {
            flex-direction: column;

        }





        img {

            @include breakpoint(bigMobile) {
                width: 20%;

            }





        }

    }
}

.footer {
    height: 15vh;
    background-color: #EDE3E7;

    &__nav {
        a {
            text-decoration: none;
            padding-right: 40px;


            @include breakpoint(newMobile) {
                padding-right: 10px;

            }
        }


        a:hover {
            border: none;
            color: $font_color;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include breakpoint(bigTablet) {
            justify-content: space-around;

        }

        @include breakpoint(newMobile) {
            justify-content: center;
            flex-direction: column;

        }


        .copy {
            display: flex;

            p {
                padding-left: 10px;

            }



        }
    }

}